<ul>
  <% @animals.each do |animal| %>
    <li>
      <a href="/animals/<%= animal.id %>"><%= animal.name %></a>
    </li>
  <% end %>
</ul>

<form action="/animals" method="post">
  <input type="text" name="name">
  <input type="submit" value="Add">
</form>
